<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class='header'>
        <a class='header__brand' href='./' title='Haz click para volver a la página inicial'>
            <img class='header__companyLogo' src="/images/laptop-code-solid.svg" alt='Logo proyectos molones' />
            <h1 class='header__title'>Proyectos molones</h1>
        </a>
        <img class='logoSponsor' src="/images/adalab.png" alt='Logo Adalab' />
    </header>

    <main class="mainContainer">
        <section class="preview">
            <div class="mainTitle">
                <h1 class="previewTitle">Proyectos molones</h1>
                <h2 class="previewSubtitle">Escaparate en línea para recoger ideas a través de la tecnología</h2>
            </div>
            <div class="projectImage" style="background-image: url('<%= project.image_project %>')"></div>

            <article class="card">
                <h2 class="card__projectTitle">
                    <span class="card__projectTitle--text">
                        <%= project.name_project %>
                    </span>
                </h2>

                <div class="card__author">

                    <div class="card__authorPhoto" style="background-image: url('<%= project.photo_author %>')"></div>
                    <p class="card__job">
                        <%= project.job_author %>
                    </p>
                    <h3 class="card__name centerName cardName">
                        <%= project.name_author %>
                    </h3>
                </div>

                <div class="card__project">
                    <h3 class="card__name ">
                        <%= project.name_project %>
                    </h3>
                    <p class="card__slogan">
                        <%= project.slogan_project %>
                    </p>

                    <p class="card__description">
                        <%= project.description_project %>
                    </p>

                    <div class="card__technicalInfo">
                        <p class="card__technologies">
                            <%= project.technologies_project %>
                        </p>

                        <a class="icon icon__www" href=<%=project.demo_url %> title="Demo project">
                            <img class="icon__white" src="/images/globe-solid.svg" alt="Texto alternativo de la imagen">
                        </a>
                        <a class="icon icon__github" href=<%=project.repo_url %>
                            title="GitHub repo">
                            <img class="icon__white" src="/images/github.svg" alt="Texto alternativo de la imagen">

                        </a>
                    </div>
                </div>
            </article>
        </section>
    </main>
    <footer class='footer'>
        <img class='logoSponsor' src="/images/adalab.png" alt='Logo Adalab' />
    </footer>

</body>

</html>