<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <div>
        <h1>Proyectos molones</h1>
        <h2>Escaparate en línea para recoger ideas a través de la tecnología</h2>
        <img src="<%= project.image_project %>" alt="<%= project.name_project %>" />
        <div>
            <div>
                <img src="<%= project.photo_author %>" alt="<%= project.name_project %>" />
                <p>
                    <%= project.name_author %>
                </p>
                <p>
                    <%= project.job_author %>
                </p>
            </div>
            <div>
                <h3>
                    <%= project.name_project %>
                </h3>
                <p>
                    <%= project.slogan_project %>
                </p>
                <p>
                    <%= project.description_project %>
                </p>
                <div>
                    <p>
                        <%= project.technologies_project %>
                    </p>
                    <a href="<%= project.demo_url %>"></a>
                    <a href="<%= project.repo_url %>"></a>

                </div>
            </div>
        </div>
    </div>
</body>

</html>